.header-container {
    min-width: 100%;
    min-height: 70px;
    padding: 13px 30px;
    border-bottom: 1px solid #e6eaee;
    background-color: #fff;
}

.header-container .search-bar .btn {
    background: #fd9a00;
    color: white;
    border: none;
    padding: 1em 1.5em;
}

.header-container .search-bar input.form-control {
    padding: 1em 1.5em;
    height: calc(3.30rem + 3px);
}

.header-container .cart-button {
    background: none;
    color: #b5b6ba;
    font-size: 1.75em;
    position: relative;
}

.header-container .cart-button .cart-number {
    position: absolute;
    bottom: 4px;
    right: 4px;
    font-size: small;
    font-weight: bold;
    background: #fd9a00;
    color: white;
    padding: .05em .25em;
    border-radius: 4px;
}

.content-wrap {
    background: #eaeef1;
    padding: 2em 10% 0 10%;
}

.announcement-items, .item-detail, .item-features {
    background: white;
    border-radius: 4px;
    box-shadow: rgba(0,0,0,0.25) 0px 3px 5px;
}

.announcement-items {    
    padding: 0;
}
.announcement-item {
    border-bottom: solid 1px #ededed;
    padding: .5em;
    cursor: pointer;
    margin: 0;
}

.announcement-item:hover {
    background: #eee;
}

.announcement-price {
    color: #78797b;
    font-weight: bold;
    display: block;
    font-size: medium;
}

.announcement-trsp-fee {
    color: #c6c7c9;
    font-size: medium;
}
.announcement-item.item-selected {
    background: #0099ff;
    position: relative;
}

.announcement-item.item-selected .announcement-price {
    color: white;
}

.announcement-item.item-selected .announcement-trsp-fee {
    color: #a2f9ff;
}

.item-detail {
    padding: 10px 15px;
}
.item-detail .item-title {
    color: #6f7170;
    font-size: x-large;
}

.item-detail .item-category {
    color: #6f7170;
    font-size: large;
    font-weight: normal;
}

.item-detail .item-comments {
    color: #288ac9;
    margin-left: .5em;
}

.item-detail .item-headline, .item-detail .item-main {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: solid 1px #e0e0e0;
}

.item-detail .item-price {
    font-size: xx-large;
    font-weight: bold;
    color: #fd9a00;
    line-height: 1.5em;
}

.item-detail .item-buy-button .btn {
    background: #fd9a00;
    border: none;
    font-size: large;
    padding: .25em 1em;
}

.item-detail .desc-title {
    color: #bdbec0;
    text-transform: uppercase;
    font-size: small;
}

.item-detail .item-seller-desc {
    color: #787878;
}

.announcement-item.item-selected:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    top: 0;
    right: -40px;
    bottom: 0;
    margin: auto;
    background: white;
    transform: rotate(45deg);
    z-index: 9999;
}

.col-4 {
    flex: 0 0 33.333333% !important;
    max-width: 30.2% !important;
}

a.col-4 {
    color: #288ac9;
    display: inline-block;
    white-space: nowrap;
}

.col-8.announcement-text {
    padding-left: 0px;
}

img.announcement-avatar.rounded-circle.img-fluid {
    max-width: 63%;
}

.item-features {
    margin-top: 15px;
    margin-bottom: 1em;
    padding: 10px;
}

.item-features .feature-item {
    text-align: center;
    color: #bdbec0;
}


/* Rank stars colors */
.rank-stars {
    color : #b9bec2;
}

.rank-stars.rank-1 i:nth-child(1) {
    color : #ffb338;
}

.rank-stars.rank-2 i:nth-child(1), .rank-stars.rank-2 i:nth-child(2) {
    color : #ffb338;
}

.rank-stars.rank-3 i:nth-child(1), .rank-stars.rank-3 i:nth-child(2), .rank-stars.rank-3 i:nth-child(3) {
    color : #ffb338;
}

.rank-stars.rank-4 i:nth-child(1), .rank-stars.rank-4 i:nth-child(2), .rank-stars.rank-4 i:nth-child(3), .rank-stars.rank-4 i:nth-child(4) {
    color : #ffb338;
}

.rank-stars.rank-5 i:nth-child(1), .rank-stars.rank-5 i:nth-child(2), .rank-stars.rank-5 i:nth-child(3), .rank-stars.rank-5 i:nth-child(4), .rank-stars.rank-5 i:nth-child(5) {
    color : #ffb338;
}