<div class="container header-container">
  <div class="row align-items-center justify-content-center">
    <div class="col-6 offset-2">
      <div class="input-group search-bar">
        <input type="search" class="form-control" placeholder="Rechercher un produit" aria-label="Rechercher un produit" aria-describedby="basic-addon2"
          (input)="setFilteredItems()" [(ngModel)]="searchTerm">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">
            <span class="fa fa-search"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-2">
      <button class="btn btn-lg btn-default cart-button">
        <span class="fa fa-cart-arrow-down"></span>
        <span class="cart-number">{{total_cart}}</span>
      </button>
    </div>
  </div>
</div>
<div class="container-fluid content-wrap">
  <div class="row content">
    <div class="col-4">
      <div class="announcement-items">
        <div class="row col-12 align-items-center announcement-item" [ngClass]="announcement == item ? 'item-selected' : ''" *ngFor="let item of announcements | slice:0:limit; let i=index"
          (click)="openDetails(item)">
          <div class="col-4">
            <img class="announcement-avatar rounded-circle img-fluid" [src]="item.seller_picture">
          </div>
          <div class="col-8 announcement-text">
            <span class="announcement-price">{{item.price}} € - {{item.state}}</span>
            <span class="announcement-trsp-fee" *ngIf="item.is_free">Livraison gratuite</span>
            <span class="announcement-trsp-fee" *ngIf="!item.is_free"> + {{item.shipping_cost}} € de frais de port</span>
          </div>
        </div>
        <div *ngIf="announcements.length > limit" class="row col-12 justify-content-center announcement-item">
          <a class="col-4" (click)="loadMore()">Voir plus d'annonce</a>
        </div>
      </div>
    </div>
    <div *ngIf="!isEmptyObject(announcement)" class="col-8 item-detail-wrapper">
      <div class="container-fluid item-detail">
        <div class="row item-headline">
          <h2 class="col-12 item-title">{{announcement.title}} - {{announcement.description}}</h2>
          <h4 class="col-12 item-category">{{announcement.category}}</h4>
          <div class="col-12 item-rank">
            <span class="rank-stars rank-{{ normalizeRank(announcement.rank) }}">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </span>
            <span class="item-comments">{{announcement.total_comments}} commentaires</span>
          </div>
        </div>
        <div class="row item-main">
          <div class="col-5 item-image">
            <img class="img-fluid" [src]="announcement.picture">
          </div>
          <div class="col-7">
            <div class="col-12 item-price">{{announcement.price + announcement.shipping_cost |number : '1.2-2'}} €</div>
            <div class="col-12 item-buy-button">
              <button type="button" class="btn btn-primary btn-sm" (click)="addToCart(announcement)">Ajouter au panier</button>
            </div>
          </div>
        </div>
        <div class="row" class="item-seller-desc">
          <h5 class="desc-title">Commentaire Vendeur</h5>
          <p> {{announcement.seller_comment}}</p>
        </div>
      </div>
      <div class="container-fluid item-features">
        <div class="row">
          <div class="col-4 feature-item">
            <img src="../assets/imgs/icon-1.png" class="img-fluid">
            <p>Paiement garantie</p>
          </div>
          <div class="col-4 feature-item">
            <img src="../assets/imgs/icon-2.png" class="img-fluid">
            <p>Mise en vente gratuite</p>
          </div>
          <div class="col-4 feature-item">
            <img src="../assets/imgs/icon-3.png" class="img-fluid">
            <p>Service client</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>